:root {
  --brand-primary: #FFA300;
  --brand-black: #000000;
  --brand-white: #FFFFFF;
}

@font-face {
  font-family: BankGothic;
  src: url('BankGothicBT-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: BankGothic, arial, Helvetica, sans-serif;
}


/* HEADER */
.site-header {
  display: grid;
  grid-template-columns: 120px auto 120px;
  align-items: center;
  padding: 16px 24px;
  background: var(--brand-white);
  border-bottom: 2px solid var(--brand-primary);
}

.logo {
  height: 60px;
  width: auto;
  justify-self: start;
}

.company-details {
  text-align: center;
}

.company-details h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--brand-black);
}

/* BUTTONS */
.download-btn {
  padding: 6px 12px;
  background: var(--brand-primary);
  border-radius: 4px;
  color: var(--brand-black);
  font-weight: 600;
}

.download-btn:hover {
  background: #e39100;
}

/* Tabs */
.tab.active {
  background: var(--brand-primary);
  color: var(--brand-black);
  border-color: var(--brand-primary);
}


/* MAIN */
.container {
  max-width: 1100px;
  margin: 24px auto;
  background: #ffffff;
  padding: 24px;
  border-radius: 6px;
}

.controls {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.controls input,
.controls select {
  padding: 10px 12px;
  font-size: 11px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f0f0f0;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

.download-btn {
  padding: 6px 12px;
  background: #e86b1c;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 12px;
}

.download-btn:hover {
  background: #cf5c14;
}

/* FOOTER */
.site-footer {
  text-align: center;
  padding: 16px;
  font-size: 12px;
  color: #777;
}

/* MOBILE VIEW */
@media (max-width: 700px) {

  table thead {
    display: none;
  }

  table,
  tbody,
  tr,
  td {
    display: block;
    width: 100%;
  }

  tr {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }

  td {
    border: none;
    padding: 6px 0;
    font-size: 13px;
  }

  /* Code + Name on same line */
  .mobile-title {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 14px;
  }

  /* Hide TYPE label text */
  td[data-label="Type"]::before {
    display: none;
  }

  /* Download icon alignment */
  .download-icon {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
  }

  .download-icon img {
    width: 26px;
    height: 26px;
  }
}
