:root {
  --brand-primary: #FFA300;
  --brand-black: #000000;
  --brand-white: #FFFFFF;
}

@font-face {
  font-family: 'BankGothic';
  src: url('BankGothicBT-Medium.woff') format('woff');
}

body {
  margin: 0;
  background: #fafafa;
  font-family: 'BankGothic', Arial, Helvetica, sans-serif;
}

/* HEADER */
.site-header {
  display: grid;
  grid-template-columns: auto auto 120px;
  align-items: center;
  padding: 16px 24px;
  background: var(--brand-white);
  border-bottom: 3px solid var(--brand-primary);
}

.logo {
  height: 55px;
}

/* MAIN CONTAINER */
.container {
  max-width: 1000px;
  width: 70%;
  background: white;
  margin: 32px auto;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 3px 20px rgba(0,0,0,.08);
}

/* CONTROLS */
.controls {
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}

/* Make search box longer */
#searchBox {
  flex: 1;              /* expands to fill remaining width */
  min-width: 300px;
}

/* Keep dropdown neat */
#typeFilter {
  width: 180px;
}

.controls input,
.controls select {
  padding: 9px 12px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table {
  table-layout: fixed;
}

th:nth-child(1),
td:nth-child(1) { width: 20px; }   /* Code */

th:nth-child(2),
td:nth-child(2) { width: 60%; }     /* Product Name */

th:nth-child(3),
td:nth-child(3) { width: 20%; }     /* Colour */

th:nth-child(4),
td:nth-child(4) { width: 20px; }   /* Download */


/* scroll area */
tbody {
  display: block;
  max-height: 500px;   /* adjust as you like */
  overflow-y: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  background: #f3f3f3;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #e5e5e5;
}

/* DOWNLOAD BUTTON */
.download-btn {
  padding: 6px 12px;
  background: var(--brand-primary);
  border-radius: 4px;
  color: black;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.download-btn:hover {
  background:#e39100;
}

/* FOOTER */
.site-footer {
  text-align: center;
  padding: 16px;
  font-size: 12px;
  color: #777;
}
